<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>PracticaTema3</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<!-- Indicamos que la clase HolaServlet se corresponde con el nombre de 
		servlet HolaServlet -->
	<servlet>
		<servlet-name>HolaServlet</servlet-name>
		<servlet-class>es.studium.PracticaTema3.HolaServlet</servlet-class>
	</servlet>
	<!-- Indicamos que el nombre de servlet HolaMundo corresponde a la url /hola -->
	<servlet-mapping>
		<servlet-name>HolaServlet</servlet-name>
		<url-pattern>/hola</url-pattern>
	</servlet-mapping>
</web-app>
